openapi: "3.0.0"
info:
  title: Arbeidsavklaringspenger (AAP) API
  description: |
    AAP API tilbyr AAP-informasjon til eksterne konsumenter som enten har hjemmel til å hente
    AAP informasjon eller et samtykke fra bruker. Konsumenter må logge seg inn med token fra
    Maskinporten (alle konsumenter) og et Samtykke-token (konsumenter som ikke har hjemmel).
    
    Lenker til autentiseringsløsninger:
    
    [Maskinporten](https://www.digdir.no/felleslosninger/maskinporten/869)
    
    [Samtykke](https://www.altinndigital.no/produkter/samtykke/)
    
    Merk at Maskinporten sitt test-token har en veldig kort levetid (29 sekunder), så det
    egner seg dårlig til manuell test, med mindre man er kjapp til å taste. Det er best å
    bruke denne Swagger-dokumentasjonen som en referanse til å lage en automatisert test,
    ikke teste selve oppslaget.
    
    Vi tilbyr to løsninger, avhengig av behov og konsument. Vi har kalt dem henholdsvis
    minimumsløsningen og maksimumsløsningen.
    
    For en gitt person returnerer maksimumsløsningen en liste med vedtak, gyldig for en
    gitt periode, og en liste med utbetalinger på dette vedtaket.
    
    
    | Ord                   | Kommentar                                                                                                                      |
    |-----------------------|--------------------------------------------------------------------------------------------------------------------------------|
    | Dagsats               | Her har vi to verdier. Den som ligger på selve vedtaket er før samordning uten barnetillegg, mens det som ligger i utbetalingsobjektet er etter samordning uten barnetillegg. |
    | Beløp                 | Fullt beløp, etter samhandling med barnetillegg. Det bruker faktisk får utbetalt.                                       |
    | Barnetillegg          |                                                                                                                                |
    | Beregningsgrunnlag    | Inntektsgrunnlaget vedtaket ble basert på. Fra Arena er denne alltid større enn eller lik minste ~1.33G.                       |
    | Rettighetstype        | Ativitetsfasekode i gammelt system.  Mulige verdier er `UVUP` (påvente av uføretrygd), `FA` (påvente av arbeid), `UA` (under arbeidsavklaring), `AU` (arbeidsutprøving), `IKKE` (Ikke spesif. aktivitetsfase) og `SPE` (sykepengeerstatning). Om kildesystem (`kilde`) er Kelvin er disse verdiene mulige: `BISTANDSBEHOV`, `SYKEPENGEERSTATNING`, `STUDENT`,  `ARBEIDSSØKER`,  `VURDERES_FOR_UFØRETRYGD`.|                                                                                                |
    | Status (vedtakstatus) | Kan ha verdiene `IVERK` og `AVSLU`. `IVERK` betyr _iverksatt_, mens `AVSLU` betyr _avsluttet_. Fra ny løsning (Kelvin) kommer verdiene `LØPENDE` (tilsvarer `IVERK`), `AVSLUTTET` og `UTREDES`.                                                                                          |
    | vedtakId | ID som refererer til vedtaket. Denne ID'en brukes også for hendelser fra Arena i samhandlings-API'et. |
    | Saksnummer | Referanse til saken. Fra gammelt system er dette en long, fra nytt system er dette en string. |
    | Vedtaksdato | Dato fra da vedtaket er fattet. |
    | Vedtakstype | Kun fra Arena: kan være `E` (Endring), `G` (Gjenpptak), `O` (Ny rettighet), `A` (Reaksjon), `F` (Forlenget ventetid), `S` (Stans), `T` (Tidsbegrenset bortfall), `N` (Annuler sanksjon), `K` (Kontroll), `M` (Omgjør reaksjon). |
    | Periode (på vedtaket) | Gyldighetsperioden for vedtaket.|
    | Barn med stønad | Antall barn som bruker får barnetillegg for.|
    | Sykedager | Reduksjon som skyldes   |
    | Sent meldekort | Om meldekortet ble sendt inn sent. |
    | Fravær | Antall fraværsdager. | 
    | Utbetalingsgrad | Kommer fra Kelvin. Er `null` fra Arena. |
    | Samordnings-ID | Her finnes kun data fra ny løsning. Ellers null. |
    | Opphørsårsak | Kommer i Kelvin. Er `null` når kilden er Arena. Fra Kelvin: `OVERGANG_UFORE`, `AVKLART_TIL_ARBEID`, `ANNET`. |
    | Kilde | Om dataen kommer fra Arena eller Kelvin (henholdsvis gammel og ny løsning) |
  contact:
    url: https://github.com/navikt/aap-api
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/license/mit/
tags:
  - name: AFP-Privat
    description: AFP (avtalefestet pensjon)
  - name: AFP-Offentlig
    description: AFP-Offentlig
  - name: TP-Ordningen
    description: Tjenestepensjon
servers:
  - url: https://aap-api.nav.no
    description: Prodserver
  - url: https://aap-api.ekstern.dev.nav.no
    description: Dev-server
paths:
  /afp/fellesordningen:
    post:
      summary: Hent perioder med AAP, scopet for privat sektor
      tags:
        - AFP-Privat
      description: |-
        Henter perioder med vedtak for en person innen gitte datointervall. 

        Scope: `nav:aap:afpprivat.read`
      security:
        - maskinporten: [ ]
      parameters:
        - in: header
          name: x-callid
          description: En UUID konsumenten sender inn som brukes til videre logging og feilsøking.
          example: 8fe781e6-603c-4021-8e7d-139cadfd0666
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodeResponse'
        '400':
          description: Feil i request
        '401':
          description: Mangler / feil maskinporten token eller samtykke-token
        '403':
          description: Feil scope i maskinporten token
        '404':
          description: Manglende URL / Person ikke funnet
        '500':
          description: Feil på tjeneste, meld fra og send med call-id
  /afp/offentlig:
    post:
      summary: Hent perioder med AAP, scopet for offentlig sektor
      tags:
        - AFP-Offentlig
      description: |-
        Henter perioder med vedtak for en person innen gitte datointervall.
        
        Scope: `nav:aap:afpoffentlig.read`
      security:
        - maskinporten: [ ]
      parameters:
        - in: header
          name: x-callid
          description: En UUID konsumenten sender inn som brukes til videre logging og feilsøking.
          schema:
            type: string
            format: uuid
          required: true
          example: 8fe781e6-603c-4021-8e7d-139cadfd0666
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodeRequestMedSaksId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodeResponse'
        '400':
          description: Feil i request
        '401':
          description: Mangler / feil maskinporten token eller samtykke-token
        '403':
          description: Feil scope i maskinporten token
        '404':
          description: Manglende URL / Person ikke funnet
        '500':
          description: Feil på tjeneste, meld fra og send med call-id
  /tp-samhandling-med-utbetalinger:
    post:
      summary: Hent vedtak og alle tilhørende utbetalinger for en person
      tags:
        - TP-Ordningen
      description: |-
        Hent vedtak og alle tilhørende utbetalinger for en person.
        behandlinger ferdige før 18/8 vil potensielt mangle beregningsgrunnlag frem til neste meldekort er levert.
        
        Scope: `nav:aap:tpordningen.read`.
      security:
        - maskinporten: [ ]
      parameters:
        - in: header
          name: x-callid
          description: En UUID konsumenten sender inn som brukes til videre logging og feilsøking.
          schema:
            type: string
            format: uuid
          required: true
          example: 8fe781e6-603c-4021-8e7d-139cadfd0666
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaksimumRespons'
        '400':
          description: Feil i request
        '401':
          description: Mangler / feil maskinporten token eller samtykke-token
        '403':
          description: Feil scope i maskinporten token
        '404':
          description: Manglende URL / Person ikke funnet
        '500':
          description: Feil på tjeneste, meld fra og send med call-id
  /tp-samhandling:
    post:
      summary: Hent innvilget vedtak
      tags:
        - TP-Ordningen
      description: |-
        Hent innvilget vedtak og alle tilhørende utbetalinger for en person.
        Behandlinger ferdige før 18/8 vil potensielt mangle beregningsgrunnlag frem til neste meldekort er levert.
        
        Scope: `nav:aap:tpordningen.read`.
      security:
        - maskinporten: [ ]
      parameters:
        - in: header
          name: x-callid
          description: En UUID konsumenten sender inn som brukes til videre logging og feilsøking.
          example: 8fe781e6-603c-4021-8e7d-139cadfd0666
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediumRespons'
        '400':
          description: Feil i request
        '401':
          description: Mangler / feil maskinporten token eller samtykke-token
        '403':
          description: Feil scope i maskinporten token
        '404':
          description: Manglende URL / Person ikke funnet
        '500':
          description: Feil på tjeneste, meld fra og send med call-id
components:
  schemas:
    PeriodeResponse:
      type: object
      properties:
        perioder:
          type: array
          description: Perioder med vedtak
          items:
            $ref: '#/components/schemas/Periode'
    Periode:
      type: object
      properties:
        fraOgMedDato:
          type: string
          format: date
          nullable: true
          description: Fra-dato for perioden
          example: 2022-05-01
        tilOgMedDato:
          type: string
          format: date
          nullable: true
          description: Til-dato for perioden
          example: 2022-08-25

    MaksimumRespons:
      type: object
      properties:
        vedtak:
          $ref: '#/components/schemas/VedtakMedUtbetalinger'

    MediumRespons:
      type: object
      properties:
        vedtak:
          $ref: '#/components/schemas/Vedtak'

    Reduksjon:
      type: object
      properties:
        timerArbeidet:
          type: number
          description: Antall timer arbeidet i meldekortperioden.
          example: 23.5
        annenReduksjon:
          type: number
          description: Sum av fraværsdager av forskjellige årsaker.
          example: 13
    UtbetalingMedMer:
      type: object
      properties:
        periode:
          $ref: '#/components/schemas/Periode'
        reduksjon:
          $ref: '#/components/schemas/Reduksjon'
        belop:
          type: number
          description: Faktisk utbetalingsbeløp.
          example: 6509
        dagsats:
          type: number
          description: Dagsats for utbetalingen.
          example: 849
        barnetillegg:
          type: number
          description: Barnetillegg for utbetalingen.
          example: 123.45
        utbetalingsgrad:
          type: number
          description: Kommer i Kelvin. Er null fra Arena.
          example: 90

    Vedtak:
      type: array
      items:
        type: object
        properties:
          dagsats:
            type: integer
            description: Dagsats for vedtaket
            example: 849
          status:
            type: string
            description: Status for vedtaket.
            example: "IVERK"
            enum:
              - IVERK
              - AVSLU
              - AVSLUTTET
              - LØPENDE
              - UTREDES
          vedtakId:
            type: string
            description: Vedtak-ID
          saksnummer:
            type: string
            description: Saksnummer for vedtaket.
            example: "13494077"
          vedtaksdato:
            type: string
            format: date
            description: Dato da vedtaket ble fattet.
            example: 2020-05-02
          vedtaksTypeKode:
            type: string
            nullable: true
            enum:
              - E
              - G
              - O
          vedtaksTypeNavn:
            type: string
            nullable: true
            description: Menneskelesbart format av `vedtaksTypeKode`.
          periode:
            $ref: '#/components/schemas/Periode'
          rettighetsType:
            $ref: '#/components/schemas/RettighetsType'
          beregningsgrunnlag:
            type: integer
            description: Beregningsgrunnlag for vedtaket.
            example: 668862
          barnMedStonad:
            type: integer
            description: Hvor mange barn gis det tilleg for i vedtaket.
            example: 1
          barneTillegg:
            type: number
            description: Antall barn med stønad multiplisert med barneTilleggSats.
            example: 123
          kildesystem:
            type: string
            description: Kelvin er navnet på den nye løsningen.
            enum:
              - "ARENA"
              - "KELVIN"
          samordningsId:
            type: string
            description: Her finnes kun data fra ny løsning. Ellers `null`.
            nullable: true
          opphorsAarsak:
            type: string
            nullable: true
            description: Her finnes kun data fra ny løsning. Ellers `null`.

    RettighetsType:
      type: string
      description: |
        Rettighetstype for vedtaket. Mulige verdier er `UA` ("under arbeidsavklaring"), `AU` ("arbeidsutprøving"), `FA` ("Ferdig avklart"), `UVUP` ("Vurdering for uføre"), `SPE` ("Sykepengeerstatning"), `IKKE` ("ikke spesif. aktivitetsfase").
      enum:
        - "FA"
        - "AU"
        - "UVUP"
        - "IKKE"
        - "SPE"
        - "UA"
        - "BISTANDSBEHOV"
        - "SYKEPENGEERSTATNING"
        - "STUDENT"
        - "ARBEIDSSØKER"
        - "VURDERES_FOR_UFØRETRYGD"
      example: "BISTANDSBEHOV"

    VedtakMedUtbetalinger:
      type: array
      items:
        type: object
        properties:
          dagsats:
            type: integer
            description: Dagsats for vedtaket
            example: 849
          status:
            type: string
            enum:
              - IVERK
              - AVSLU
              - AVSLUTTET
              - LØPENDE
              - UTREDES
            description: Status for vedtaket.
            example: "AVSLU"
          vedtakId:
            type: string
            description: Vedtak-ID
          saksnummer:
            type: string
            description: Saksnummer for vedtaket.
            example: "13494077"
          vedtaksdato:
            type: string
            format: date
            description: Dato da vedtaket ble fattet.
            example: 2022-05-01
          vedtaksTypeKode:
            nullable: true
            type: string
            enum:
              - E
              - G
              - O
          vedtaksTypeNavn:
            type: string
            nullable: true
            description: Menneskelesbart format av vedtaksTypeKode.
          periode:
            $ref: '#/components/schemas/Periode'
          rettighetsType:
            $ref: '#/components/schemas/RettighetsType'
          beregningsgrunnlag:
            type: integer
            description: Beregningsgrunnlag for vedtaket.
            example: 668862
          barnMedStonad:
            type: integer
            description: Hvor mange barn gis det tilleg for i vedtaket.
            example: 1
          barneTillegg:
            type: number
            description: Antall barn med stønad multiplisert med barneTilleggSats.
            example: 123
          kildesystem:
            type: string
            description: Kelvin er navnet på den nye løsningen.
            enum:
              - "ARENA"
              - "KELVIN"
          samordningsId:
            type: string
            description: Her finnes kun data fra ny løsning. Ellers `null`.
            nullable: true
          opphorsAarsak:
            type: string
            nullable: true
            description: Her finnes kun data fra ny løsning. Ellers `null`.
          utbetaling:
            type: array
            description: Utbetalinger for vedtaket.
            items:
              $ref: '#/components/schemas/UtbetalingMedMer'
    PeriodeRequest:
      type: object
      properties:
        personidentifikator:
          type: string
          nullable: false
          description: Personnummeret til brukeren.
          example: 12345678901
        fraOgMedDato:
          type: string
          format: date
          nullable: false
          description: Start-dato for ønsket uttak av AAP-perioder
          example: 2021-01-01
        tilOgMedDato:
          type: string
          format: date
          nullable: false
          description: Slutt-dato for ønsket uttak av AAP-perioder
          example: 2021-01-01
    PeriodeRequestMedSaksId:
      type: object
      properties:
        personidentifikator:
          type: string
          nullable: false
          description: Personnummeret til brukeren
          example: 12345678901
        fraOgMedDato:
          type: string
          format: date
          required: true
          nullable: false
          description: Start-dato for ønsket uttak av AAP-perioder
          example: 2021-01-01
        tilOgMedDato:
          type: string
          format: date
          required: true
          nullable: false
          description: Slutt-dato for ønsket uttak av AAP-perioder
          example: 2021-01-01
        saksId:
          type: string
          required: true
          description: Ekstern saksId for sporing
          example: "086BE575-25E1-4425-8970-A16A9D7953E9"
  securitySchemes:
    maskinporten:
      type: http
      scheme: bearer
      bearerFormat: JWT
