openapi: "3.0.0"
info:
  title: Arbeidsavklaringspenger (AAP) API
  description: |
    AAP API tilbyr AAP-informasjon til eksterne konsumenter som enten har hjemmel til å hente
    AAP informasjon eller et samtykke fra bruker. Konsumenter må logge seg inn med token fra
    Maskinporten (alle konsumenter) og et Samtykke-token (konsumenter som ikke har hjemmel).
    
    Lenker til autentiseringsløsninger:
    
    [Maskinporten](https://www.digdir.no/felleslosninger/maskinporten/869)
    
    [Samtykke](https://www.altinndigital.no/produkter/samtykke/)
    
    Merk at Maskinporten sitt test-token har en veldig kort levetid (29 sekunder), så det
    egner seg dårlig til manuell test, med mindre man er kjapp til å taste. Det er best å
    bruke denne Swagger-dokumentasjonen som en referanse til å lage en automatisert test,
    ikke teste selve oppslaget.
    
    Vi tilbyr flere løsninger, avhengig av behov og konsument. Vi har kalt dem henholdsvis
    minimumsløsningen, medium- og maksimumsløsningen.
    
    For en gitt person returnerer maksimumsløsningen en liste med vedtak, gyldig for en
    gitt periode, og en liste med utbetalinger på dette vedtaket.
    
    | Ord                   | Kommentar                                                                                                                      |
    |-----------------------|--------------------------------------------------------------------------------------------------------------------------------|
    | Kildesystem | Enten `ARENA` (gammelt system), eller `KELVIN` (nytt system). |
    | Dagsats               | Her har vi to verdier. Den som ligger på selve vedtaket er før samordning uten barnetillegg, mens det som ligger i utbetalingsobjektet er etter samordning uten barnetillegg. |
    | Beløp                 | Fullt beløp, etter samhandling med barnetillegg. Det bruker faktisk får utbetalt.                                       |
    | Barnetillegg          | Totalt barnetillegg på det siste vedtaket.              |                                                                                                                 |
    | Beregningsgrunnlag    | Inntektsgrunnlaget vedtaket ble basert på. Fra Arena er denne alltid større enn eller lik minst ~1.33G.                       |
    | Rettighetstype        | Ativitetsfasekode i gammelt system.  Mulige verdier er `UVUP` (påvente av uføretrygd), `FA` (påvente av arbeid), `UA` (under arbeidsavklaring), `AU` (arbeidsutprøving), `IKKE` (Ikke spesif. aktivitetsfase) og `SPE` (sykepengeerstatning). Om kildesystem (`kilde`) er Kelvin er disse verdiene mulige: `BISTANDSBEHOV`, `SYKEPENGEERSTATNING`, `STUDENT`,  `ARBEIDSSØKER`,  `VURDERES_FOR_UFØRETRYGD`.|                                                                                                |
    | Status (vedtakstatus) | Hvis kildesystem er Arena kan denne ha verdiene `IVERK` og `AVSLU`. `IVERK` betyr at vedtaket er iverksatt (spesifikt om vedtakstypen er `S` (stans), betyr det at ytelsen er stanset), mens `AVSLU` betyr _avsluttet_. Fra ny løsning (Kelvin) kommer verdiene `LØPENDE`, `AVSLUTTET` og `UTREDES`. Fra nytt system tolkes `AVSLUTTET` som at ytelsen har stoppet opp.                                                                                        |
    | vedtakId | ID som refererer til vedtaket. Denne ID'en brukes også for hendelser fra Arena i samhandlings-API'et. Fra nytt system er dette en referanse til nyeste endring på saken. |
    | Saksnummer | Referanse til saken. Fra gammelt system er dette en long, fra nytt system er dette en string. |
    | Vedtaksdato | Hvis `kildesystem` er `ARENA`: dato på første vedtak. For Kelvin-saker: dato for siste vedtak på saken. |
    | Vedtakstype | Hvis `kildesystem` er `ARENA`: kan være `E` (Endring), `G` (Gjenpptak), `O` (Ny rettighet),  `S` (Stans). Om vedstakstypen er `S`, kombinert med vedtaksstatus `IVERK`, betyr det at ytelsen er stanset. Hvis kilde er `KELVIN` er denne `null`. |
    | Periode (på vedtaket) | Gyldighetsperioden for vedtaket.|
    | Barn med stønad | Antall barn som bruker får barnetillegg for.|
    | Sykedager | Reduksjon som skyldes   |
    | Sent meldekort | Om meldekortet ble sendt inn sent. Denne informasjonen er kun tilgjengelig fra Arena. |
    | Fravær | Antall fraværsdager. Denne informasjonen er kun tilgjengelig fra Arena.| 
    | Utbetalingsgrad | Kommer fra Kelvin. Er `null` fra Arena. |
    | Samordnings-ID | Her finnes kun data fra ny løsning. Ellers null. |
    | Opphørsårsak | Kommer i Kelvin. Er `null` når kilden er Arena. |
    
  
    ## Litt om vedtak fra nytt system
    
    Den største forskjellen på nytt og gammelt system er bruken av ordet _vedtak_. I nytt system teller hvert saksbehandlingløp som et nytt vedtak. Man snakker heller om "sak" når man vil referere til den løpende ytelsen.


    ## SAM-varsler
  
    For varsling av nye vedtak eller signifikante endringer i vedtak blir det sendt varsler via SAM.
    Fra AAP vil det komme varsler i disse tilfellene:
    * Førstegangsvedtak
    * Endring i RettighetsType
    * signifikant endring i utbetaling
      - fra 0 til >0
      - fra >0 til 0
    * Utvidelse av rettighetsperiode (forlengelse av til-dato)

    ## Relevante lenker

  contact:
    name: AAP API
    url: https://github.com/navikt/aap-api
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/license/mit/
tags:
  - name: AFP-Privat
    description: AFP (avtalefestet pensjon)
  - name: AFP-Offentlig
    description: AFP-Offentlig
  - name: TP-Ordningen
    description: Tjenestepensjon
servers:
  - url: https://aap-api.nav.no
    description: Produksjonsmiljø.
  - url: https://aap-api.ekstern.dev.nav.no
    description: Utviklingsmiljø.
paths:
  /afp/fellesordningen:
    post:
      summary: Hent perioder med AAP, scopet for privat sektor
      tags:
        - AFP-Privat
      description: |-
        Henter perioder med vedtak for en person innen gitte datointervall. 

        Scope: `nav:aap:afpprivat.read`
      security:
        - maskinporten: [ ]
      parameters:
        - in: header
          name: x-callid
          description: En UUID konsumenten sender inn som brukes til videre logging og feilsøking.
          example: 8fe781e6-603c-4021-8e7d-139cadfd0666
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodeResponse'
        '400':
          description: Feil i request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UgyldigForespørselFeil'
        '401':
          description: Mangler / feil maskinporten token eller samtykke-token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UautorisertFeil'
        '403':
          description: Feil scope i maskinporten token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManglerTilgangFeil'
        '404':
          description: Manglende URL / Person ikke funnet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IkkeFunnetFeil'
        '500':
          description: Feil på tjeneste, meld fra og send med call-id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternFeil'
  /afp/offentlig:
    post:
      summary: Hent perioder med AAP, scopet for offentlig sektor
      tags:
        - AFP-Offentlig
      description: |-
        Henter perioder med vedtak for en person innen gitte datointervall.
        
        Scope: `nav:aap:afpoffentlig.read`
      security:
        - maskinporten: [ ]
      parameters:
        - in: header
          name: x-callid
          description: En UUID konsumenten sender inn som brukes til videre logging og feilsøking.
          schema:
            type: string
            format: uuid
          required: true
          example: 8fe781e6-603c-4021-8e7d-139cadfd0666
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodeRequestMedSaksId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodeResponse'
        '400':
          description: Feil i request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UgyldigForespørselFeil'
        '401':
          description: Mangler / feil maskinporten token eller samtykke-token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UautorisertFeil'
        '403':
          description: Feil scope i maskinporten token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManglerTilgangFeil'
        '404':
          description: Manglende URL / Person ikke funnet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IkkeFunnetFeil'
        '500':
          description: Feil på tjeneste, meld fra og send med call-id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternFeil'
  /tp-samhandling-med-utbetalinger:
    post:
      summary: Hent vedtak og alle tilhørende utbetalinger for en person
      tags:
        - TP-Ordningen
      description: |-
        Hent vedtak og alle tilhørende utbetalinger for en person.
        
        Scope: `nav:aap:tpordningen.read` eller `nav:aap/tpordningen.read`.
      security:
        - maskinporten: [ ]
      parameters:
        - in: header
          name: x-callid
          description: En UUID konsumenten sender inn som brukes til videre logging og feilsøking.
          schema:
            type: string
            format: uuid
          required: true
          example: 8fe781e6-603c-4021-8e7d-139cadfd0666
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaksimumRespons'
        '400':
          description: Feil i request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UgyldigForespørselFeil'
        '401':
          description: Mangler / feil maskinporten token eller samtykke-token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UautorisertFeil'
        '403':
          description: Feil scope i maskinporten token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManglerTilgangFeil'
        '404':
          description: Manglende URL / Person ikke funnet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IkkeFunnetFeil'
        '500':
          description: Feil på tjeneste, meld fra og send med call-id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternFeil'
  /tp-samhandling:
    post:
      summary: Hent innvilget vedtak
      tags:
        - TP-Ordningen
      description: |-
        Hent innvilget vedtak for en person.
        
        Scope: `nav:aap:tpordningen.read` eller `nav:aap/tpordningen.read`.
      security:
        - maskinporten: [ ]
      parameters:
        - in: header
          name: x-callid
          description: En UUID konsumenten sender inn som brukes til videre logging og feilsøking.
          example: 8fe781e6-603c-4021-8e7d-139cadfd0666
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediumRespons'
        '400':
          description: Feil i request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UgyldigForespørselFeil'
        '401':
          description: Mangler / feil maskinporten token eller samtykke-token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UautorisertFeil'
        '403':
          description: Feil scope i maskinporten token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManglerTilgangFeil'
        '404':
          description: Manglende URL / Person ikke funnet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IkkeFunnetFeil'
        '500':
          description: Feil på tjeneste, meld fra og send med call-id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternFeil'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        melding:
          type: string
          description: Beskrivelse av feilen.
          example: Feil i mottatte data.
        kode:
          type: string
          description: Maskinlesbar feilkode.
          example: MANGLER_TILGANG
    UgyldigForespørselFeil:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      description: Feilmeldinger ved ugyldig request (400)
    UautorisertFeil:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      description: Feilmeldinger ved autentiseringsfeil (401)
    ManglerTilgangFeil:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      description: Feilmeldinger ved manglende tilgang (403)
    IkkeFunnetFeil:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      description: Feilmeldinger når ressurs ikke finnes (404)
    InternFeil:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      description: Interne feil (500)
    PeriodeResponse:
      type: object
      properties:
        perioder:
          type: array
          description: Perioder med vedtak
          items:
            $ref: '#/components/schemas/Periode'
    Periode:
      type: object
      properties:
        fraOgMedDato:
          type: string
          format: date
          nullable: true
          description: Fra-dato for perioden.
          example: 2022-05-01
        tilOgMedDato:
          type: string
          format: date
          nullable: true
          description: Til-dato for perioden.
          example: 2022-08-25

    MaksimumRespons:
      type: object
      properties:
        vedtak:
          $ref: '#/components/schemas/VedtakMedUtbetalinger'

    MediumRespons:
      type: object
      properties:
        vedtak:
          $ref: '#/components/schemas/Vedtak'

    Reduksjon:
      type: object
      nullable: true
      properties:
        timerArbeidet:
          type: number
          description: Antall timer arbeidet i meldekortperioden.
          example: 23.5
        annenReduksjon:
          type: number
          description: Sum av fraværsdager av forskjellige årsaker.
          example: 13
    UtbetalingMedMer:
      type: object
      properties:
        periode:
          $ref: '#/components/schemas/Periode'
        reduksjon:
          $ref: '#/components/schemas/Reduksjon'
        belop:
          type: integer
          description: Faktisk utbetalingsbeløp.
          example: 6509
        dagsats:
          type: integer
          description: Dagsats for utbetalingen.
          example: 849
        barnetillegg:
          type: integer
          description: Barnetillegg for utbetalingen.
          example: 123
        barnetilegg:
          type: integer
          deprecated: true
          description: Feilstavet felt, bruk barnetillegg. Vil bli fjernet.
          example: 123
        utbetalingsgrad:
          type: integer
          nullable: true
          description: Ikke-null fra nytt system. Er null fra Arena. 100% betyr at full AAP gis.
          example: 90

    Vedtak:
      type: array
      items:
        type: object
        properties:
          dagsats:
            type: integer
            description: Dagsats for vedtaket.
            example: 849
          status:
            type: string
            description: Status for vedtaket. Per 29/4-2026 er denne konstant lik LØPENDE om kildesystem er KELVIN (nytt system).
            example: "IVERK"
            enum:
              - IVERK
              - AVSLU
              - LØPENDE
          vedtakId:
            type: string
            description: Vedtak-ID. Dette er ID som sendes til SAM fra Kelvin.
          saksnummer:
            type: string
            description: Saksnummer for vedtaket. Fra Arena er dette et tall, mens det fra nytt system er en streng av lengde 7.
            example: "13494077"
          vedtaksdato:
            type: string
            format: date
            description: Dato da vedtaket ble fattet.
            example: 2020-05-02
          vedtaksTypeKode:
            type: string
            nullable: true
            enum:
              - E
              - G
              - O
              - S
          vedtaksTypeNavn:
            type: string
            nullable: true
            description: Menneskelesbart format av `vedtaksTypeKode`.
          periode:
            $ref: '#/components/schemas/Periode'
          rettighetsType:
            $ref: '#/components/schemas/RettighetsType'
          beregningsgrunnlag:
            type: integer
            description: Beregningsgrunnlag for vedtaket.
            example: 668862
          barnMedStonad:
            type: integer
            description: Hvor mange barn det gis tillegg for i vedtaket.
            example: 1
          barnetillegg:
            type: integer
            description: Antall barn med stønad multiplisert med gjeldende barnetilleggsats.
            example: 72
          kildesystem:
            type: string
            description: Kelvin er navnet på den nye løsningen.
            enum:
              - "ARENA"
              - "KELVIN"
          samordningsId:
            type: string
            description: Her finnes kun data fra ny løsning. Ellers `null`.
            nullable: true
          opphorsAarsak:
            type: string
            deprecated: true
            nullable: true
            description: Alltid `null`. Vil bli fjernet.

    RettighetsType:
      type: string
      description: |
        Rettighetstype for vedtaket. Mulige verdier er `UA` ("under arbeidsavklaring"), `AU` ("arbeidsutprøving"), `FA` ("Ferdig avklart"), `UVUP` ("Vurdering for uføre"), `SPE` ("Sykepengeerstatning"), `IKKE` ("ikke spesif. aktivitetsfase").
      enum:
        - "FA"
        - "AU"
        - "UVUP"
        - "IKKE"
        - "SPE"
        - "UA"
        - "BISTANDSBEHOV"
        - "SYKEPENGEERSTATNING"
        - "STUDENT"
        - "ARBEIDSSØKER"
        - "VURDERES_FOR_UFØRETRYGD"
      example: "BISTANDSBEHOV"

    VedtakMedUtbetalinger:
      type: array
      items:
        type: object
        properties:
          dagsats:
            type: integer
            description: Dagsats for vedtaket.
            example: 849
          status:
            type: string
            enum:
              - IVERK
              - AVSLU
              - LØPENDE
            description: Status for vedtaket. Per 29/4-2026 er denne konstant lik LØPENDE om kildesystem er KELVIN (nytt system).
            example: "AVSLU"
          vedtakId:
            type: string
            description: Vedtak-ID
          saksnummer:
            type: string
            description: Saksnummer for vedtaket.
            example: "13494077"
          vedtaksdato:
            type: string
            format: date
            description: Dato da vedtaket ble fattet.
            example: 2022-05-01
          vedtaksTypeKode:
            nullable: true
            type: string
            enum:
              - E
              - G
              - O
          vedtaksTypeNavn:
            type: string
            nullable: true
            description: Menneskelesbart format av vedtaksTypeKode.
          periode:
            $ref: '#/components/schemas/Periode'
          rettighetsType:
            $ref: '#/components/schemas/RettighetsType'
          beregningsgrunnlag:
            type: integer
            description: Beregningsgrunnlag for vedtaket.
            example: 668862
          barnMedStonad:
            type: integer
            description: Hvor mange barn det gis tillegg for i vedtaket.
            example: 1
          barnetillegg:
            type: integer
            description: Antall barn med stønad multiplisert med barnetilleggsats.
            example: 72
          kildesystem:
            type: string
            description: Kelvin er navnet på den nye løsningen.
            enum:
              - "ARENA"
              - "KELVIN"
          samordningsId:
            type: string
            description: Her finnes kun data fra ny løsning. Ellers `null`.
            nullable: true
          opphorsAarsak:
            type: string
            deprecated: true
            nullable: true
            description: Alltid null. Vil bli fjernet.
          utbetaling:
            type: array
            description: Utbetalinger for vedtaket.
            items:
              $ref: '#/components/schemas/UtbetalingMedMer'
    PeriodeRequest:
      type: object
      required: [personidentifikator, fraOgMedDato, tilOgMedDato]
      properties:
        personidentifikator:
          type: string
          nullable: false
          description: Personnummeret til brukeren.
          example: 12345678901
        fraOgMedDato:
          type: string
          format: date
          nullable: false
          description: Start-dato for ønsket uttak av AAP-perioder.
          example: 2021-01-01
        tilOgMedDato:
          type: string
          format: date
          nullable: false
          description: Slutt-dato for ønsket uttak av AAP-perioder.
          example: 2021-01-01
    PeriodeRequestMedSaksId:
      type: object
      required: [personidentifikator, fraOgMedDato, tilOgMedDato, saksId]
      properties:
        personidentifikator:
          type: string
          nullable: false
          description: Personnummeret til brukeren
          example: 12345678901
        fraOgMedDato:
          type: string
          format: date
          nullable: false
          description: Start-dato for ønsket uttak av AAP-perioder
          example: 2021-01-01
        tilOgMedDato:
          type: string
          format: date
          nullable: false
          description: Slutt-dato for ønsket uttak av AAP-perioder
          example: 2021-01-01
        saksId:
          type: string
          description: Ekstern saksId for sporing
          example: "086BE575-25E1-4425-8970-A16A9D7953E9"
  securitySchemes:
    maskinporten:
      type: http
      scheme: bearer
      bearerFormat: JWT
